<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

              <li class="nav-item dropdown" *ngFor="let item of menu; let i = index">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{item.caption}}
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div *ngFor="let pos of item.dropDownList; let i = index1">
                    <a class="dropdown-item" href={{pos.link}}>{{pos.caption}}</a>
                  </div>
                </div>
              </li>

          </ul>
      </div>

  </nav>
</div>
