<div class="container">

  <legend>Create new shop record:</legend>

  <form class="needs-validation" novalidate>

    <div class="form-group row">
      <div *ngFor="let fieldInfo of fieldsConfig" class="col-md-6 mb-3">

        <div class="d-flex">
          <div class="p-2">
            <label for="{{fieldInfo.field}}">{{fieldInfo.caption}}</label>
            <label *ngIf="fieldInfo.required" class="text-danger" for="{{fieldInfo.field}}">*</label>
          </div>
          <div class="ml-auto p-2">
            <div *ngIf="value.invalid && (value.dirty || value.touched)" class="text-danger">
              <div *ngIf="value.errors.required">Please provide a valid {{fieldInfo.caption}}</div>
            </div>
          </div>
        </div>

        <input type="text" class="form-control" id="{{fieldInfo.field}}" name="{{fieldInfo.field}}"
               placeholder="{{fieldInfo.placeholder}}" [required]="fieldInfo.required" [(ngModel)]="fieldInfo.value" #value="ngModel">

      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)=add()>Save</button>
      </div>
    </div>
  </form>

</div>
