<script src="../model/employee.ts"></script>

<!--MDB Tables-->
<div class="container mt-4">

  <div class="card">
    <div class="card-body">

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
          <h2 class="py-3 text-center font-bold font-up blue-text">List of employees</h2>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!--Table-->
      <table class="table table-striped table-bordered table-hover table-sm" width="100%">

        <!--Table head-->
        <thead>
          <tr>
            <th class="th-sm sortable">Number</th>
            <th class="th-sm sortable">Last Name</th>
            <th class="th-sm sortable">First Name</th>
            <th class="th-sm sortable">Role</th>
            <th class="th-sm sortable">Shop</th>
            <th class="th-sm sortable">City</th>
            <th class="th-sm sortable">Edit</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.employeeId}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.role}}</td>
            <td>{{employee.shop.name}}</td>
            <td>{{employee.shop.city}}</td>
            <td>
              <a routerLink="/employees/{{employee.employeeId}}">
                <button type="button" class="btn btn-outline-info btn-sm">Edit</button>
              </a>
            </td>
          </tr>
        </tbody>
        <!--Table body-->

      </table>

      <!--Bottom Table UI-->
      <div class="d-flex justify-content-center">
        <!--Pagination -->
        <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-blue mb-0">
            <!--First-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getEmployees(0);">First</button>
              </span>
            </li>

            <!--Arrow left-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getEmployees(currentPage-1);">&laquo;</button>
              </span>
            </li>

            <!--Numbers-->
            <li *ngFor="let pageNumber of pages" class="page-item">
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getEmployees(pageNumber-1);">{{pageNumber}}</button>
              </span>
            </li>

            <!--Arrow right-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getEmployees(currentPage+1);">&raquo;</button>
              </span>
            </li>

            <!--Last-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getEmployees(totalPages-1);">Last</button>
              </span>
            </li>
          </ul>
        </nav>
        <!--/Pagination -->
      </div>
      <!--Bottom Table UI-->
    </div>
  </div>

</div>

