/* Post Table */
.info-table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  color: #314351;
  font-size: 0.857em;
  line-height: 1em;
  margin-bottom: 17px;
  font-family: "museo-sans",sans-serif;
}
.info-table a {
  color: #4183C4;
  text-decoration: none;
}
.info-table a:hover {
  color: #2a5886;
  text-decoration: none;
  background-color: inherit;
}
.info-table th, .info-table td {
  border: 1px solid #BCBABA;
  border-top-color: #FFF;
  border-right: none;
  padding: 8px 20px 8px 23px;
  text-align: left;
  vertical-align: middle;
  background: #EEE;
  margin: 0;
}

.info-table th {
  background: #58a7e6;
  text-align: left;
  font-size: 1.083em;
  line-height: 1.538em;
  padding: 6px 20px 5px 23px;
  color: #ddedfa;
  text-shadow: 0px -1px 1px rgba(0, 81, 168, 0.38);
  border-color: #2c90df;
  font-weight: 900;
}

.info-table th:last-child {
  border-right: 1px solid #BCBABA;
  text-align: center;
}

.info-table td.last, .info-table td:last-child {
  border-right: 1px solid #C2CAD0;
}

.info-table .even td, .info-table tr:nth-child(even) td {
  background: #E7E7E7;
}
