<script src="../model/shops.ts"></script>

<app-search-component></app-search-component>

<!--MDB Tables-->
<div class="container mt-4">

  <div class="card">
    <div class="card-body">

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
          <h2 class="py-3 text-center font-bold font-up blue-text">List of shops</h2>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!--Table-->
      <table class="table table-striped table-bordered table-hover table-sm" width="100%">

        <!--Table head-->
        <thead>
          <tr>
            <th (click)="getAnotherSortOrder('id')"><button type="button" class="btn btn-link btn-outline-dark">Number</button></th>
            <th (click)="getAnotherSortOrder('name')"><button type="button" class="btn btn-link btn-outline-dark">Shop title</button></th>
            <th (click)="getAnotherSortOrder('city')"><button type="button" class="btn btn-link btn-outline-dark">City</button></th>
            <th (click)="getAnotherSortOrder('state')"><button type="button" class="btn btn-link btn-outline-dark">State</button></th>
<!--            <th class="th-sm sortable">Address</th>-->
<!--            <th class="th-sm sortable">Phone</th>-->
          </tr>
        </thead>

        <!--Table body-->
        <tbody>
          <tr *ngFor="let shop of shops">
            <td>
              <a routerLink="/shops/{{shop.shopId}}">
                <button type="button" class="btn btn-outline-info btn-sm">{{shop.shopId}}</button>
              </a>
            </td>
            <td>{{shop.name}}</td>
            <td>{{shop.city}}</td>
            <td>{{shop.state}}</td>
<!--            <td>{{shop.address}}</td>-->
<!--            <td>{{shop.phone}}</td>-->
          </tr>
        </tbody>
        <!--Table body-->

      </table>




      <!--Bottom Table UI-->
      <div class="d-flex justify-content-left">Current page: {{currentPage + 1}}; Number of pages: {{numberOfPages}}; Total number of records: {{numberOfElements}};  Max number  of records on one page: {{sizeOfPage}}; </div>
      <div class="d-flex justify-content-center">
        <!--Pagination -->
        <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-blue mb-0">
            <!--First-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(0);">First</button>
              </span>
            </li>

            <!--Arrow left-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(currentPage-1);">&laquo;</button>
              </span>
            </li>

            <!--Numbers-->
            <li *ngFor="let pageNumber of pages" class="page-item">
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(pageNumber-1);">{{pageNumber}}</button>
              </span>
            </li>

            <!--Arrow right-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(currentPage+1);">&raquo;</button>
              </span>
            </li>

            <!--Last-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(numberOfPages-1);">Last</button>
              </span>
            </li>
          </ul>
        </nav>
        <!--/Pagination -->
      </div>
      <!--Bottom Table UI-->


    </div>
  </div>

</div>

