<script src="../model/product.ts"></script>

<app-search-component></app-search-component>

  <!--MDB Tables-->
<div class="container mt-4">

  <div class="card">
    <div class="card-body">

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
          <h2 class="py-3 text-center font-bold font-up blue-text">List of products</h2>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!--Table-->
      <table class="table table-striped table-bordered table-hover table-sm">

        <!--Table head-->
        <thead>
          <tr>
            <th (click)="getAnotherSortOrder('id')"><button type="button" class="btn btn-link btn-outline-dark">Number</button></th>
            <th (click)="getAnotherSortOrder('name')"><button type="button" class="btn btn-link btn-outline-dark">Title</button></th>
            <th (click)="getAnotherSortOrder('type')"><button type="button" class="btn btn-link btn-outline-dark">Category</button></th>
            <th (click)="getAnotherSortOrder('price')"><button type="button" class="btn btn-link btn-outline-dark">Price</button></th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <a routerLink="/products/{{product.productId}}">
                <button type="button" class="btn btn-outline-info btn-sm">{{product.productId}}</button>
              </a>
            </td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price | currency}}</td>
          </tr>
        </tbody>
        <!--Table body-->

      </table>



      <!--Bottom Table UI-->
      <div class="d-flex justify-content-left">Current page: {{currentPage + 1}}; Number of pages: {{numberOfPages}}; Total number of records: {{numberOfElements}};  Max number  of records on one page: {{sizeOfPage}}; </div>
      <div class="d-flex justify-content-center">
        <!--Pagination -->
        <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-blue mb-0">
            <!--First-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(0);">First</button>
              </span>
            </li>

            <!--Arrow left-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(currentPage-1);">&laquo;</button>
              </span>
            </li>

            <!--Numbers-->
            <li *ngFor="let pageNumber of pages" class="page-item">
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(pageNumber-1);">{{pageNumber}}</button>
              </span>
            </li>

            <!--Arrow right-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(currentPage+1);">&raquo;</button>
              </span>
            </li>

            <!--Last-->
            <li>
              <span class="page-span">
                <button type="submit" class="page-link" button (click)="getAnotherPage(numberOfPages-1);">Last</button>
              </span>
            </li>
          </ul>
        </nav>
        <!--/Pagination -->
      </div>
      <!--Bottom Table UI-->
    </div>
  </div>

  <hr class="my-4">

</div>

